<ul class="order-list" *ngIf="allOrders">
  <li class="order-list__item" *ngFor="let order of allOrders">
    <h4 class="order-list__item__title">
      {{ order?.customerName }}, 
      {{ order?.orderDate }}, 
      £{{ order?.orderTotal | number:'1.2-2' }}
    </h4>
    <ng-container *ngIf="order?.productsOrdered.length > 0">
    <span *ngFor="let product of order?.productsOrdered; let lastProduct = last">
      {{ product?.details?.title }} x {{ product?.count }} @ 
      £{{ product?.details?.price | number:'1.2-2' }} 
      each{{ lastProduct ? '' : ' // ' }}
    </span>
    </ng-container>
    <button (click)="adjustOrder(order.key, order.user)">
      <i class="far fa-edit"></i>
    </button>
  </li>
</ul>