<ul class="main-menu">
  <li class="menu-item" routerLink="/">
    <img src="assets/img/pepper.svg" alt="Corner shop logo" class="logo">
  </li>
  <li class="menu-item" routerLink="/shopping-cart">
    <i class="menu-item__cart fas fa-shopping-cart"></i>
    <span class="cart-count" *ngIf="cartCount">{{ cartCount }}</span>
  </li>
  <ng-template #anonUser>
    <li class="menu-item" routerLink="/login">
      Log In
    </li>
  </ng-template>
  <li *ngIf="authService.user$ | async as user; else anonUser" class="menu-item user" (click)="onDropDownClick()">
    {{ user.displayName }} 
    <i class="fas fa-caret-down" *ngIf="!showDropDownMenu"></i>
    <i class="fas fa-caret-up" *ngIf="showDropDownMenu"></i>
    <ul class="drop-down-menu" *ngIf="showDropDownMenu">
      <li routerLink="/my-orders">My Orders</li>
      <li (click)="logout()">Log Out</li>
      <ng-container *ngIf="showAdmin">
        <li routerLink="/admin/orders">Manage Orders</li>
        <li routerLink="/admin/products">Manage Products</li>
      </ng-container>
    </ul>
  </li>
</ul>
