@import "global";

:host {grid-area: maincontent;}

.cart {

  .cart-product {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, 100px);
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center top;
      width: 100%;
    }
  }

}