<div class="cart" *ngIf="cartProducts?.length; else emptyCart">
  <div class="cart-product" *ngFor="let product of cartProducts">
    <ng-container *ngIf="product.count">
      <img [src]="product.payload.toJSON().imageUrl" >
      <h4>{{ product.payload.toJSON().title }}</h4>
      <h4>x {{ product.count }}</h4>
      <h4>£{{ (product.payload.toJSON().price * product.count) | number : '1.2-2' }}</h4>
      <div class="product-counter" *ngIf="product.count">
        <button class="product-cart-button" type="button"
                (click)="removeFromCart(product.key)">
          <i class="fas fa-minus"></i>
        </button>
        <button class="product-cart-button" type="button"
                (click)="addToCart(product.key)">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </ng-container>
  </div>
  
  <div class="cart-product">
    <div class="filler"></div>
    <h4>Total</h4>
    <div class="filler"></div>
    <h4>£{{ totalCost | number : '1.2-2' }}</h4>
    <button type="button" routerLink="/check-out">Checkout</button>
  </div>
</div>
<ng-template #emptyCart>
  <h3 >Empty Cart</h3>
</ng-template>