<button (click)="addProductForm()">Add Product</button>

<form class="product-form" *ngIf="showAddProductForm" #f="ngForm" (ngSubmit)="f.valid && addProduct(f.value)">
  <label for="title">Title</label>
  <div class="input-group">
    <input ngModel name="title" type="text" id="title" required #titleInput="ngModel">
    <h4 class="error" *ngIf="titleInput.touched && titleInput.invalid">Please enter a title</h4>
  </div>
  <label for="price">Price</label>
  <div class="input-group">
    <input ngModel name="price" type="number" id="price" step="0.01" required #priceInput="ngModel">
    <h4 class="error" *ngIf="priceInput.touched && priceInput.invalid">
      Please enter a price
    </h4>
  </div>
  <label for="category">Category</label>
  <div class="input-group">
    <select ngModel name="category" id="category" required #categoryInput="ngModel">
      <option [value]="" disabled></option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
    <h4 class="error" *ngIf="categoryInput.touched && categoryInput.invalid">
      Please select a category
    </h4>
  </div>
  <label for="imageurl">Image URL</label>
  <div class="input-group">
    <input ngModel name="imageUrl" type="url" id="imageurl" required #imageUrlInput="ngModel">
    <h4 class="error" *ngIf="imageUrlInput.touched && imageUrlInput.invalid">
      Please enter an image url
    </h4>
  </div>
  <div class="filler"></div>
  <button type="submit" [disabled]="!f.valid">Save New Product</button>
</form>

<input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="filter">

<ngx-datatable 
  #table
  [rows]="rows"
  [columnMode]="'force'"
  [limit]="10"
  [headerHeight]="50"
  [footerHeight]="50"
  [sorts]="[{prop: 'title', dir: 'asc'}]">
  <ngx-datatable-column name="Title"></ngx-datatable-column>
  <ngx-datatable-column name="Price"></ngx-datatable-column>
  <ngx-datatable-column name="Edit">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="['/admin/products/', row.edit[0]]">Update</a>&nbsp;
      <a (click)="deleteProduct(row.edit[0], row.edit[1])">
        <i class="far fa-trash-alt"></i>
      </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
