$mobile_width: 450px;
$tablet_width: 800px;
$desktop_width: 1200px;
$body_font: 'Lora', serif;
$heading_font: 'Concert One', cursive;
$highlight_colour: #046e00;
$link_colour: #791616;
$link_hover_colour: #0b29b3;